:root{
    --buttonHeight: 50px;
    --buttonWidth: 70px;
    --greenColor: #364733;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


body{
    min-height: 100vh;
    background-color: rgba(151, 151, 151, 0.585);
    display: flex;
    align-items: center;
}

/*the calculator container */
main{
    background-color: var(--greenColor);
    height: 600px;
    width: 400px;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 16px;
    align-items: center;
}

/* display container for title and input */
#display{
    height: 150px;
    display: flex;
    flex-direction: column;
}

/* Name of calculator */
h3{
    font-size: 25px;
    padding: 4px;
    text-align: left;
    margin-bottom: 12px;
    color: white;
    font-style: italic;
}
/* input */
#input-text{
    color: white;
    font-size: 3em;
    background-color: black;
    width: 95%;
    height: 40%;
    outline: none;
    border-radius: 5px;
    text-align: right;
    padding: 10px;
    margin: 0 auto;
}


/* button container  for all the buttons*/
#button-container{
    background-color: rgb(129, 129, 129);
    width: 90%;
    height: 90%;
    margin-bottom: 16px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

/* making each button */
.all-button-containers{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

/* all buttons */
.all-button-containers > button{
    border: 1px solid black;
    font-size: 1.5em;
    width: var(--buttonWidth);
    height: var(--buttonHeight);
    border-radius: 50%;
    cursor: pointer;
}

/* styling the operation buttons */
.operator-button{
    background-color: #557050;
}

/* styling clear button */


/* styling equals button */
#equal-operator{
    background-color: rgb(239, 175, 56);
}










