*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


body{
    min-height: 100vh;
    background-color: rgba(151, 151, 151, 0.585);
    display: flex;
    align-items: center;
}

/*the calculator container */
main{
    background-color: #364733;
    height: 600px;
    width: 400px;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 16px;
}

#top{
    height: 150px;
    display: flex;
    flex-direction: column;
}

/* Name of calculator */
h3{
    font-size: 25px;
    padding: 4px;
    text-align: left;
    margin-bottom: 12px;
    color: white;
    font-style: italic;
}
/* input */
#input-text{
    color: white;
    font-size: 3em;
    background-color: black;
    width: 95%;
    height: 40%;
    outline: none;
    border-radius: 5px;
    text-align: right;
    padding: 10px;
    margin: 0 auto;
}

/* operations container */
#all-buttons{
    background-color: #4c504b;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
button{
    cursor: pointer;
}

#operation-buttons-container{
    display: flex;
    flex-direction: column;
}

#number-buttons-container{

}

#operation-buttons-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 120px;
    padding: 10px;
}
.operation-button{
    
    text-decoration: none;
}
/* <!-- container for clear button -->
            <div id="clear-button-container">
                <button id="clear-button">AC</button>
            </div> */


